<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Ciao, questo è il mio sito dove parlo di libri!</h1>
    </div>
        <div class="main-box">
            <div id="classics-box">
                <h3>Classici</h3>
            </div>
            <div id="fantasy-box">
                <h3>Fantascienza</h3>
            </div>
            <div id="essay-box">
                <h3>Saggi</h3>
            </div>

        </div>
</body>
</html>