<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <h1>Questo è la lista dei miei libri preferiti!</h1>

        <div class="main-box">
            <div class="book-box">
                <h3>Giallo</h3>
                    <div class="book-list">
                        <div class="book">
                            <img src="<%= image %>" alt="cover1" height="100px" width="75px">
                            <br/>
                            <%= title %> 
                            <%= author %>
                        </div>
                        <div class="book">Libro 2</div>
                        <div class="book">Libro 3</div>
                    </div>
            </div>
            <div class="book-box">
                <h3>Fantascienza</h3>
                    <div class="book-list">
                        <div class="book">Libro 1</div>
                        <div class="book">Libro 2</div>
                        <div class="book">Libro 3</div>
                    </div>
            </div>
            <div class="book-box">
                <h3>Storia</h3>
                    <div class="book-list">
                        <div class="book">Libro 1</div>
                        <div class="book">Libro 2</div>
                        <div class="book">Libro 3</div>
                    </div>
            </div>

        </div>
    </div>
</body>
</html>